[Desktop Entry]
Type=Application
Exec=chromium %U
Icon=chromium
Comment=An open source web browser from Google
Terminal=false
Name=Chromium
GenericName=Web browser
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/mailto;x-scheme-handler/webcal;x-scheme-handler/about;x-scheme-handler/unknown
Categories=Network;WebBrowser
StartupWMClass=chromium-browser

