[Desktop Entry]
Type=Application
Exec=firefox %U
Icon=firefox
Comment=
Terminal=false
Name=Firefox
GenericName=Web Browser
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp
Categories=Application;Network;WebBrowser;

